@tailwind base;
@tailwind components;
@tailwind utilities;

.text-limit {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines you want to display */
  overflow: hidden;
}
.text-limit8 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8; /* number of lines you want to display */
  overflow: hidden;
}
