@tailwind base;
@tailwind components;
@tailwind utilities;

.text-limit1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines you want to display */
  overflow: hidden;
}

.text-limit2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines you want to display */
  overflow: hidden;
}
.text-limit4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4; /* number of lines you want to display */
  overflow: hidden;
}
